<p><%= t(".greeting", first_name: @user.first_name) %></p>

<p><%= t(".notification", product_name: product_name) %></p>

<p><%= t(".if_expected") %></p>

<p><%= t(".if_unexpected_html", product_name: product_name, url: settings_security_url) %></p>

<p><%= t(".thank_you", product_name: product_name) %></p>

<p><%= t(".signature") %></p>
